body {
    background-color: #444444; 
    display: flex;
    justify-content: center;  
}
.content-box {
    width: 1366px; 
    height: 6088px;
    position: absolute;
    background-color: white;
}
header {
        position: fixed;
        top: 0;
        align-items: center;
        z-index: 1000;
}
.hero {
    background: linear-gradient(to left, #e8f2f8, #fefaf9);
    width: 1366px;
    height: 868px;
    top:80px;
    position:relative;
}
.hero-content {
    position: absolute;
    top: 180.07px;
    left: 110.73px;  
}
.hero-image {
    position: relative;
    top: 236px;
    left: 670px;
    margin-top: -70px;
}
.yout {
    margin: 100px auto 0; 
    padding: 20px;
    text-align: center;
}
.watch-actions{
    text-align: center;
    padding-top:60px;
    padding-bottom: 50px;    
}
.youtube-container {
    position: relative; 
    display: inline-block;
}
.youtube-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.solve {
    position: absolute;
    width: 1366px;
    height: 1532px;
    left: calc(50% - 1366px/2);
    top: 1730px;
    background:#F7F9FF;
}
.header-text {
    width: 361px;
    height: 37px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(287px, 1fr)); 
    gap: 20px;
    width: 100%;
    margin: 50px auto;
}
.griduse {
    width: 100%; 
    height: auto; 
    top: 0; 
    left: 0; 
    padding: 50px 182px; 
    box-sizing: border-box; 
}
.left-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; 
    width: 84.4396743774414px;
    height: 633.119140625px;
    top: 1308.57px;
    left: 0px;
    border-width: 1px;
}
.right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; 
    width: 84.4396743774414px;
    height: 633.119140625px;
    top: 1308.57px;
    right: 0px;
    border-width: 1px;
}
.bottom_image{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 153px;
        height: 99px;
        top: 1730px;
        left: 0px;
        border-width: 1px;
        }


