body {
    background-color: #444444; 
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}
.content-box {
    width: 1366px; 
    background-color: white;
    position: relative;
    height: 6088px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 1366px;
    height: 80px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    z-index: 1000;
    
}
.logo {
    display: flex;
    align-items: center;
    width: 103px;
    height: 32px;
    top: 24px;
    left: 80px;
}
.logo img {
    height: 30px;
    margin-right: 10px;
}
.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #555555;
}
nav ul li:first-child a {
    color: #E87100;
    gap: 10px;
}
.auth {
    display: flex;
    align-items: left;
    gap: 8px;
}
.auth a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px;
}
.auth .login {
    color: #0047FF;
    border: 1px solid #0047FF;
    background-color: white;
    gap: 8px;
}
.auth .get-started {
    background-color: #0047FF;
    color: white;
    top: 20px;
    left: 1165px;
    top: 20px;
}
.hero {
    background: linear-gradient(to left, #e8f2f8, #fefaf9);
    width: 1366px;
    height: 788px;
    top: 80px;
    position: relative;
}

.hero-content {
    width: 545px;
    height: 462px;
    position: absolute;
    top: 217.07px;
    left: 110.73px;
}

.hero h1 {
    width: 538px;
    height: 128px;
    position: absolute;
    top: 3px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    color: #121214;
    margin-top: -50px;
}
.blue {
    color:#5978FF; 
}


.hero p {
    width: 526px;
    height: 96px;
    position: absolute;
    top: 177px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #121214;
}

.features {
    width: 412px;
    height: 34px;
    position: absolute;
    top: 310px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.feature {
    display: flex;
    align-items: center;
    color: #333;
}

.feature img {
    width: 20px;
    margin-right: 8px;
}

.verify-advisor,
.instant-connect {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.explore-advisors {
    width: 208px;
    height: 30px;
    position: absolute;
    top: 404px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5978FF;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
    padding: 17px 36px;
    gap: 8px;
}

.top-img {
    width: 35px;
    height: 41px;
    position: absolute;
    top: -23.93px;
    left: -26.47px;
    transform: rotate(-6.52deg);
    margin-top: -50px;
}

.bottom-img {
    width: 228px;
    height: 12px;
    position: absolute;
    top: 133px;
    left: 244px;
    border-width: 4px;
    border-color: #F8971F;
    margin-top: -50px;
}
 

.hero-image {
    width: 550px;
    height: 425px;
    position: absolute;
    top: 236px;
    left: 713px;
    text-align: right;
    margin-top: -30px;
}
.reviews {
    width: auto; 
    min-width: 220px; 
    max-width: 300px; 
    height: auto; 
    position: absolute;
    top: 336px;
    border-radius: 12px;
    padding: 6px 6px;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.stars {
    width: auto;
    height: 20px;
    gap: 6px;
    padding-top:6px;
    color: gold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
}
.review-count {
    width: max-content;
    height: auto;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-weight: 400;
    padding-bottom:6px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #0D0E10;
    margin: 6px auto 0;
    white-space: normal; 
}
.yout {
    width: 1022px;
    margin: 100px auto 0; 
    background-color: white;
    padding: 20px;
    text-align: center;
}
.watch-actions{
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    font-size: 28px;
}
.video-container {
    width: 1022px;
    height: 525px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
    padding-top: 30px;
    
}
.video-dimensions {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.youtube-icon {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.solve {
    position: absolute;
    width: 1366px;
    height: 1532px;
    left: calc(50% - 1366px/2);
    top: 1730px;
    background:#F7F9FF;
}
.header-text {
    width: 361px;
    height: 37px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(287px, 1fr)); 
    gap: 20px;
    width: 100%;
    margin: 50px auto;
}
.grid-box {
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
}
.grid-box img {
    margin-bottom: 10px; 
    width: 50px; 
    height: auto;
}
.griduse {
    width: 100%; 
    height: auto; 
    top: 0; 
    left: 0; 
    padding: 50px 182px; 
    box-sizing: border-box; 
}
.advisor{
    width: 1368px;
height: 781px;
top: 2479px;
left: -1px;

}